<!-- Banner Scroll Mod by phpbb3world.com -->
<!-- IF S_BANNER_SCROLL_ENABLED -->
<div class="forabg">
   <div class="inner"><span class="corners-top"><span></span></span>
      <ul class="topiclist">
         <li class="header">
            <dl class="icon">
            <dt>{L_BANNER_SCROLL}</dt>
	       <dd></dd>
	      </dl>
         </li>
      </ul>
<div style="position: relative; float:right; padding-right:20px; margin-top: -20px; height:17px;"><a href="#" title="{L_PREVIOUS_SCROLL}" id="ticker-previous"><img src="{ROOT_PATH}images/rewind.png" width="16" height="16" alt="{L_PREVIOUS_SCROLL}" /></a> <a href="#" title="{L_NEXT_SCROLL}" id="ticker-next"><img src="{ROOT_PATH}images/fastforward.png" width="16" height="16" alt="{L_NEXT_SCROLL}" /></a> <a href="#" title="{L_STOP_SCROLL}" id="stop"><img src="{ROOT_PATH}images/control_stop.png" width="16" height="16" alt="{L_STOP_SCROLL}" /></a> <a href="#" title="{L_START_SCROLL}" id="start"><img src="{ROOT_PATH}images/control_play.png" width="16" height="16" alt="{L_START_SCROLL}" /></a></div>
   <div class="vertical-ticker">   
    <ul id="vertical-ticker" class="topiclist forums">
		<!-- BEGIN banner_scroll -->
         <li class="row">
		 <div style="text-align: center;"><a href="{banner_scroll.B_URL}" onclick="window.open(this.href); return false"><img src="{banner_scroll.B_IMG}" alt="{banner_scroll.B_URL}" style="width: 458px; height: 50px;" /></a></div>
		 </li>
		<!-- END banner_scroll --> 
		 </ul>
   </div>   
   <span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- End Banner Scroll Mod by phpbb3world.com -->